@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'tailwindcss/tailwind.css';

body {
  font-family: 'Inter', sans-serif;
}

.container {
  overflow: hidden;
}

/* Spinner Styles */
.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}